*{
    margin: 0;
    padding: 0;
    font-family: centurygothic;
}

@font-face{
    font-family: centurygothic;
    src: url(./GOTHIC.TTF);
}

/*body*/
body{
    background-color: #f7f7f7;
}

/*Header starter her*/
header{
    background-image: url(./billeder/header_billede.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 10rem;
}

/*Logo*/
.logo {
    width: 22%;
    height: auto;
    margin: 2% 0 0 3%;
}

/*Nav bar med logo og burgermenu der skal flexe*/
.nav-bar-mobil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

/*Burger-menu*/
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #1c1c1c;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

.menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 2em;
    color: #f7f7f7;
    display: block;
    transition: 0.3s;
  }

.menu .closebtn {
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    font-size: 4em;
    color: #f7f7f7;
}
/*Burger-menu slut*/

/*rød logo inde i burgermenuen*/
.red-logo{
    width: 30%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin: 15rem auto 3rem auto;
}

/*burger menuens streger*/
span{
    font-size:35px;
    cursor:pointer;
    color: #f7f7f7;
    margin: 11px;
}

/*navne logoet med N M TOLNAI*/
.name-logo img{
    width: 47%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*navigations menu til desktop*/
.nav-desktop{
    display: none;
}
/*SLUT - Header*/

/*Footer starter her*/
footer{
    background-color: #1c1c1c;
    padding-top: 60px;
    padding-bottom: 60px;
}

.name{
    width: 65%;
    height: auto;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.sphynx{
    width: 35%;
    height: auto;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 15px;
}

.info{
    color: #f7f7f7;
    padding: 0 30px 0 30px;
}

.info h3{
    letter-spacing: 2px;
    font-weight: lighter;
    margin-top: 30px;
    font-size: 12px;
}

.info p{
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 18px;
}
/*SLUT - Footer*/

/*_______________________Fælles CSS for de forskellige sider_______________________*/

/*CSS til sidernes title*/
.page-title{
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 3px;
    margin: 10px 0 0 20px;
    color: #1c1c1c;
}

/*Knap design på siderne*/
.btn{
    display: block;
    width: 130px;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    color: #1c1c1c;
    border-top: solid #dc001a;
    border-bottom: solid #dc001a;
    cursor: pointer;
    padding: 7px 0;
    margin-left: auto;
    margin-right: auto;
}

.btn2{
    display: block;
    width: 130px;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    color: #f7f7f7;
    border-top: solid #dc001a;
    border-bottom: solid #dc001a;
    cursor: pointer;
    padding: 7px 0;
    margin-left: auto;
    margin-right: auto;
}
/*SLUT - Fælles CSS for de forskellige sider*/

/*______________________________________________________________________________*/

/*Index CSS begynder her*/
/*billede under title*/
.grafic-img{
    width: 80%;
    height: auto;
    display: block;
    margin: 2rem auto 2rem auto;
}

/*sektion med kompetencer og vision*/
.visionskills{
    border-style: solid none solid none;
    border-color: #1c1c1c;
    border-width: 3px;
    padding: 40px 30px 40px 30px;
    margin: 5rem 2rem 5rem 2rem;
    color: #1c1c1c;
}
/*Kompetence afsnit*/
.skills h2{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.skills h3{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: lighter;
}

/*Vision afsnit*/
.vision{
    margin-top: 50px;
}

.vision h2{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.vision p{
    font-size: 13px;
    line-height: 18px;
}

/*SLUT - sektion med kompetencer og vision*/

/*CSS for tidlinjen kommer her*/

/*Den verticale linje for tidslinjen*/
.timeline{
    box-sizing: border-box;
    background-color: #1c1c1c;
    position: relative;
    margin: 0 auto;
    padding: 5em 0;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 2px;
    background-color: #f7f7f7;
    top: 0;
    bottom: 0;
    left: 8%;
    margin-left: -3px;
}

/*containeren til indholdet i tidslinjen*/
.container{
    padding: 10px 40px;
    position: relative;
}

/*tekst*/
.content{
    color: #f7f7f7;
    margin-top: 20px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
}

/*de røde billeder*/
.red-imgs{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 39px;
}

/*cirklerne på tidlinjen*/
.container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    background-color: #1c1c1c;
    border: 2px solid #f7f7f7;
    top: 38px;
    border-radius: 50%;
    z-index: 1;
}

/*sektion med "se egne udvalgte projekter"*/
.selected-projects{
    margin: 3rem 0 3rem 0;
}

.selected-projects h1{
    margin-bottom: 2rem;
}

.grafic-img2{
    width: 90%;
    height: auto;
    display: block;
    margin: 2rem auto 2rem auto;
}

/*SLUT - Index CSS*/

/*______________________________________________________________________________*/

/*CSS til "udvalgte projekter" begynder her*/

/*Cover billede*/
.presentation img{
    width: 85%;
    height: auto;
    display: block;
    margin: 20px auto 0 auto;
}

/*sektion med fokuspunkter og omhandling*/
.about-info{
    padding: 40px 60px 40px 60px;
    margin-top: 4rem;
    color: #f7f7f7;
    background-color: #1c1c1c;
}
/*Kompetence afsnit*/
.focuspoints h3{
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: lighter;
}

/*Vision afsnit*/
.about{
    margin-top: 50px;
    margin-bottom: 50px;
}

.about p{
    font-size: 14px;
    line-height: 18px;
}

.img-website img{
    width: 85%;
    height: auto;
    display: block;
    margin: 30px auto 30px auto;
}

.img-mobile{
    background-color: #1c1c1c;
    padding-top: 20px;
    padding-bottom: 20px;
}
.img-mobile img{
    width: 80%;
    height: auto;
    display: block;
    margin: 30px auto 30px auto;
}

/*SLUT - CSS til "udvalgte projekter"*/

/*______________________________________________________________________________*/


/*CSS til video på Mila Danailova-siden*/
video{
    width: 95%;
    height: auto;
    display: block;
    margin: 40px auto 40px auto;
}
/*SLUT - CSS til video på Mila Danailova-siden*/

/*______________________________________________________________________________*/

/*CSS til egne projektersiden*/
/*Sugar skull*/
.about-info-white{
    background-color: #f7f7f7;
    padding: 0 60px 60px 60px;
    margin-top: 4rem;
    color: #1c1c1c;
}
/*SLUT - Sugar skull*/

/*Walking pink*/
.walkinpink{
    background-color: #1c1c1c;
    color: #f7f7f7;
    padding-top: 40px;
}

.walkinpink h1{
    color: #f7f7f7;
    font-weight: lighter;
    font-size: 30px;
    padding-bottom: 10px;
}

.walkinpink h3{
    font-weight: lighter;
}

.about-info-black{
    padding: 0px 60px 60px 60px;
    margin-top: 4rem;
}
/*SLUT - Walking pink*/

/*Den evige evighedsmaskine*/
.forever{
    padding-top: 40px;
    padding-bottom: 50px;
}

.forever h1{
    font-size: 30px;
    padding-bottom: 10px;
}

.forever h3{
    font-weight: lighter;
}

.infoforever{
    margin: 0 40px 40px 50px;
}
/*SLUT - Den evige evighedsmaskine*/

/*Formidlingsvideo*/
/*Walking pink*/
.formidling{
    background-color: #dc001a;
    color: #f7f7f7;
    padding-top: 40px;
}

.formidling h1{
    color: #f7f7f7;
    font-weight: lighter;
    font-size: 30px;
    padding-bottom: 10px;
}

.formidling h3{
    font-weight: lighter;
}

.about-info-red{
    padding: 0px 60px 60px 60px;
    margin-top: 4rem;
}
/*SLUT - Walking pink*/
/*SLUT - formidlingsvideo*/

/*SLUT - CSS til egne projektersiden*/

/*______________________________________________________________________________*/

/*CSS til kontakt mig siden begynder her*/
.oplysninger{
    margin: 40px 40px 50px 50px;
    color: #1c1c1c;
}

.MyInfo img{
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto 50px auto;
}

/*CSS til cv*/
.cv{
    background-color: #dc001a;
    padding: 50px 20px 50px 20px;
    color: #f7f7f7;
}

.cv h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: lighter;
}

.cv p{
    line-height: 20px;
    padding-left: 25%;
    padding-bottom: 30px;
}
/*SLUT - CSS til kontakt mig siden*/

