*{
    margin: 0;
    padding: 0;
    font-family: centurygothic;
}

@font-face{
    font-family: centurygothic;
    src: url(./GOTHIC.TTF);
}

/*body*/
body{
    background-color: #f7f7f7;
}

/*Header starter her*/
header{
    background-image: url(./billeder/header_billede.jpg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    min-height: 10rem;
}

/*Logo*/
.logo {
    width: 22%;
    height: auto;
    margin: 2% 0 0 3%;
}

/*Nav bar med logo og burgermenu der skal flexe*/
.nav-bar-mobil{
    display: flex;
    flex-direction: row;
    justify-content: space-between;    
}

/*Burger-menu*/
.menu {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    background-color: #1c1c1c;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
.menu-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

.menu a {
    padding: 8px;
    text-decoration: none;
    font-size: 2em;
    color: #f7f7f7;
    display: block;
    transition: 0.3s;
  }

.menu .closebtn {
    position: absolute;
    top: 0.3rem;
    right: 1rem;
    font-size: 4em;
    color: #f7f7f7;
}
/*Burger-menu slut*/

/*rød logo inde i burgermenuen*/
.red-logo{
    width: 30%;
    height: auto;
    display: block;
    margin: 15rem auto 3rem auto;
}

/*burger menuens streger*/
span{
    font-size:35px;
    cursor:pointer;
    color: #f7f7f7;
    margin: 11px;
}

/*navne logoet med N M TOLNAI*/
.name-logo img{
    width: 47%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*navigations menu til desktop*/
.nav-desktop{
    display: none;
}
/*SLUT - Header*/

/*Footer starter her*/
footer{
    background-color: #1c1c1c;
    padding-top: 60px;
    padding-bottom: 60px;
}

.name{
    width: 65%;
    height: auto;
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.sphynx{
    width: 35%;
    height: auto;
    display: block;
    margin-left:auto;
    margin-right: auto;
    margin-top: 15px;
}

.info{
    color: #f7f7f7;
    padding: 0 30px 0 30px;
}

.info h3{
    letter-spacing: 2px;
    font-weight: lighter;
    margin-top: 30px;
    font-size: 12px;
}

.info p{
    letter-spacing: 1px;
    font-weight: lighter;
    font-size: 18px;
}
/*SLUT - Footer*/

/*_______________________Fælles CSS for de forskellige sider_______________________*/

/*CSS til sidernes title*/
.page-title{
    font-size: 20px;
    font-weight: lighter;
    letter-spacing: 3px;
    margin: 10px 0 0 20px;
    color: #1c1c1c;
}

/*Knap design på siderne*/
.btn{
    display: block;
    width: 130px;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    color: #1c1c1c;
    border-top: solid #dc001a;
    border-bottom: solid #dc001a;
    cursor: pointer;
    padding: 7px 0;
    margin-left: auto;
    margin-right: auto;
}

.btn2{
    display: block;
    width: 130px;
    font-size: 16px;
    font-weight: lighter;
    text-decoration: none;
    text-align: center;
    letter-spacing: 2px;
    color: #f7f7f7;
    border-top: solid #dc001a;
    border-bottom: solid #dc001a;
    cursor: pointer;
    padding: 7px 0;
    margin-left: auto;
    margin-right: auto;
}
/*SLUT - Fælles CSS for de forskellige sider*/

/*______________________________________________________________________________*/

/*Index CSS begynder her*/
/*billede under title*/
.grafic-img{
    width: 80%;
    height: auto;
    display: block;
    margin: 2rem auto 2rem auto;
}

/*sektion med kompetencer og vision*/
.visionskills{
    border-style: solid none solid none;
    border-color: #1c1c1c;
    border-width: 3px;
    padding: 40px 30px 40px 30px;
    margin: 5rem 2rem 5rem 2rem;
    color: #1c1c1c;
}
/*Kompetence afsnit*/
.skills h2{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.skills h3{
    font-size: 30px;
    letter-spacing: 1px;
    font-weight: lighter;
}

/*Vision afsnit*/
.vision{
    margin-top: 50px;
}

.vision h2{
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
    margin-bottom: 10px;
}

.vision p{
    font-size: 13px;
    line-height: 18px;
}

/*SLUT - sektion med kompetencer og vision*/

/*CSS for tidlinjen kommer her*/
/*Den verticale linje for tidslinjen*/
.timeline{
    box-sizing: border-box;
    background-color: #1c1c1c;
    position: relative;
    margin: 0 auto;
    padding: 5em 0;
}

.timeline::after{
    content: '';
    position: absolute;
    width: 2px;
    background-color: #f7f7f7;
    top: 0;
    bottom: 0;
    left: 8%;
    margin-left: -3px;
}

/*containeren til indholdet i tidslinjen*/
.container{
    padding: 10px 40px;
    position: relative;
}

/*tekst*/
.content{
    color: #f7f7f7;
    margin-top: 20px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
}

/*de røde billeder*/
.red-imgs{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 39px;
}

/*cirklerne på tidlinjen*/
.container::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    background-color: #1c1c1c;
    border: 2px solid #f7f7f7;
    top: 38px;
    border-radius: 50%;
    z-index: 1;
}
/*SLUT - tidslinje*/

/*sektion med "se egne udvalgte projekter"*/
.selected-projects{
    margin: 3rem 0 3rem 0;
}

.selected-projects h1{
    margin-bottom: 2rem;
}

.grafic-img2{
    width: 90%;
    height: auto;
    display: block;
    margin: 2rem auto 2rem auto;
}

/*SLUT - Index CSS*/

/*______________________________________________________________________________*/

/*CSS til "udvalgte projekter" begynder her*/

/*Cover billede*/
.presentation img{
    width: 85%;
    height: auto;
    display: block;
    margin: 20px auto 0 auto;
}

/*sektion med fokuspunkter og omhandling*/
.about-info{
    padding: 40px 60px 40px 60px;
    margin-top: 4rem;
    color: #f7f7f7;
    background-color: #1c1c1c;
}
/*Kompetence afsnit*/
.focuspoints h3{
    font-size: 28px;
    letter-spacing: 1px;
    font-weight: lighter;
}

/*Vision afsnit*/
.about{
    margin-top: 50px;
    margin-bottom: 50px;
}

.about p{
    font-size: 14px;
    line-height: 18px;
}

.img-website img{
    width: 85%;
    height: auto;
    display: block;
    margin: 30px auto 30px auto;
}

.img-mobile{
    background-color: #1c1c1c;
    padding-top: 20px;
    padding-bottom: 20px;
}
.img-mobile img{
    width: 80%;
    height: auto;
    display: block;
    margin: 30px auto 30px auto;
}

.img-mobile-expand{
    display: none;
}

/*SLUT - CSS til "udvalgte projekter"*/

/*______________________________________________________________________________*/


/*CSS til video på Mila Danailova-siden*/
video{
    width: 95%;
    height: auto;
    display: block;
    margin: 40px auto 40px auto;
}
/*SLUT - CSS til video på Mila Danailova-siden*/

/*______________________________________________________________________________*/

/*CSS til Udvalgte projekter side begynder her*/
/*Den verticale linje for tidslinjen*/
.timeline-2{
    box-sizing: border-box;
    background-color: #f7f7f7;
    position: relative;
    margin: 0 auto;
    padding: 5em 0;
}

.timeline-2::after{
    content: '';
    position: absolute;
    width: 2px;
    background-color: #dc001a;
    top: 0;
    bottom: 0;
    left: 8%;
    margin-left: -3px;
}

/*containeren til indholdet i tidslinjen*/
.container-2{
    padding: 10px 40px;
    position: relative;
}

/*tekst*/
.content-2{
    color: #1c1c1c;
    margin-top: 20px;
    margin-left: 20px;
    letter-spacing: 1px;
    font-weight: lighter;
}

/*de røde billeder*/
.red-imgs{
    width: 100%;
    height: auto;
    margin-top: 20px;
    margin-left: 39px;
}

/*cirklerne på tidlinjen*/
.container-2::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    left: 15px;
    background-color: #f7f7f7;
    border: 2px solid #dc001a;
    top: 38px;
    border-radius: 50%;
    z-index: 1;
}
/*SLUT - CSS til Udvalgte projekter side*/

/*______________________________________________________________________________*/

/*CSS til egne projektersiden*/
/*Sugar skull*/
.about-info-white{
    background-color: #f7f7f7;
    padding: 0 60px 60px 60px;
    margin-top: 4rem;
    color: #1c1c1c;
}
/*SLUT - Sugar skull*/

/*Walking pink*/
.walkinpink{
    background-color: #1c1c1c;
    color: #f7f7f7;
    padding-top: 40px;
}

.walkinpink h1{
    color: #f7f7f7;
    font-weight: lighter;
    font-size: 30px;
    padding-bottom: 10px;
}

.walkinpink h3{
    font-weight: lighter;
}

.about-info-black{
    padding: 0px 60px 60px 60px;
    margin-top: 4rem;
}
/*SLUT - Walking pink*/

/*Den evige evighedsmaskine*/
.forever{
    padding-top: 40px;
    padding-bottom: 50px;
}

.forever h1{
    font-size: 30px;
    padding-bottom: 10px;
}

.forever h3{
    font-weight: lighter;
}

.infoforever{
    margin: 0 40px 40px 50px;
}
/*SLUT - Den evige evighedsmaskine*/

/*Formidlingsvideo*/
.formidling{
    background-color: #dc001a;
    color: #f7f7f7;
    padding-top: 40px;
}

.formidling h1{
    color: #f7f7f7;
    font-weight: lighter;
    font-size: 30px;
    padding-bottom: 10px;
}

.formidling h3{
    font-weight: lighter;
}

.about-info-red{
    padding: 0px 60px 60px 60px;
    margin-top: 4rem;
}
/*SLUT - formidlingsvideo*/

/*SLUT - CSS til egne projektersiden*/

/*______________________________________________________________________________*/

/*CSS til kontakt mig siden begynder her*/
.oplysninger{
    margin: 40px 40px 50px 50px;
    color: #1c1c1c;
}

.MyInfo img{
    width: 80%;
    height: auto;
    display: block;
    margin: 0 auto 50px auto;
}

/*CSS til cv*/
.cv{
    background-color: #dc001a;
    padding: 50px 20px 50px 20px;
    color: #f7f7f7;
}

.cv h3{
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
    text-align: center;
    letter-spacing: 1px;
    font-weight: lighter;
}

.cv p{
    line-height: 20px;
    padding-left: 25%;
    padding-bottom: 30px;
}
/*SLUT - CSS til kontakt mig siden*/

/*______________________________________________________________________________*/

/*Medie Queries min. 768px til tablet*/
@media screen and (min-width:768px){
    /*Medie Queries til CSS der går igennem alle siderne*/
    /*Header begynder her*/
    header{
        min-height: 21rem;
    }

    /*Logo*/
    .logo{
        width: 36%;
    }

    /*Streger til burger menu*/
    span{
        font-size:60px;
        margin-right: 20px;
    }

    /*Link inde i burgermenu*/
    .menu a {
        padding: 30px;
        font-size: 4rem;
    }

    /*rød logo inde i burgermenuen*/
    .red-logo{
        width: 30%;
        margin: 18rem auto 4rem auto;
    }

    /*navne logoet med N M TOLNAI*/
    .name-logo img{
        width: 55%;
        margin-top: 20px;
    }
    /*SLUT - Header*/

    /*CSS til sidernes title*/
    .page-title{
        font-size: 35px;
        margin: 25px 20px 0 25px;
    }

    /*Knap design på siderne*/
    .btn{
        width: 160px;
        font-size: 25px;
        padding: 7px 0;
    }

    /*Footer*/
    footer{
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    .name{
        width: 55%;
    }
    
    .sphynx{
        width: 25%;
        margin-top: 20px;
    }

    .info h3{
        margin: 30px 50px 0 50px;
        font-size: 20px;
    }
    
    .info p{
        margin: 0 50px 0 50px;
        font-size: 23px;
    }
    /*SLUT - Footer*/
    /*SLUT - Medie Queries til CSS der går igennem alle siderne*/

    /*Medie Queries til index siden*/
    /*sektion med kompetencer og vision*/
    .visionskills{
        padding: 100px 30px 100px 30px;
        margin: 5rem 2rem 5rem 2rem;
    }
    /*Kompetence afsnit*/
    .skills{
        margin-left: 30%;
    }

    .skills h2{
        font-size: 24px;
    }

    .skills h3{
        font-size: 33px;
        
    }

    /*Vision afsnit*/
    .vision{
        margin:50px 10px 0 10px;
    }

    .vision h2{
        font-size: 24px;
        margin-bottom: 10px;
    }

    .vision p{
        font-size: 18px;
        line-height: 20px;
    }
    /*SLUT - sektion med kompetencer og vision*/

    /*CSS for tidlinjen kommer her*/
    /*Den verticale linje for tidslinjen*/
    .timeline::after{
        width: 3px;
    }

    /*containeren til indholdet i tidslinjen*/
    .container{
        padding: 20px 40px;
        margin-top: 30px;
    }

    /*tekst*/
    .content{
        margin-left: 50px;
        font-weight: lighter;
    }

    .content h3{
        font-size: 22px;
    }

    /*de røde billeder*/
    .red-imgs{
        width: 97%;
        height: auto;
        margin-top: 20px;
        margin-left: 40px;
    }

    /*cirklerne på tidlinjen*/
    .container::after {
        left: 48px;
        border: 3px solid #f7f7f7;
    }
    /*SLUT - Medie Queries til index siden*/

    /*Medie queries til udvalgte projekter siden*/
    /*CSS for tidlinjen kommer her*/
    /*Den verticale linje for tidslinjen*/
    .timeline-2::after{
        width: 3px;
        background-color: #1c1c1c;
    }

    /*containeren til indholdet i tidslinjen*/
    .container-2{
        padding: 20px 40px;
        margin-top: 30px;
    }

    /*tekst*/
    .content-2{
        margin-left: 50px;
        font-weight: lighter;
    }

    .content-2 h3{
        font-size: 22px;
    }

    /*cirklerne på tidlinjen*/
    .container-2::after {
        left: 48px;
        border: 3px solid #dc001a;
    }
    /*SLUT - Medie queries til udvalgte projekter siden*/

    /*Medie queries til egne projekter siden*/
    /*Sugarskull sektion*/
    .sugarskull{
        margin-bottom: 50px;
    }
    .sugarskull .presentation img{
        width: 80%;
        margin-bottom: 80px;
    }

    .sugarskull .focuspoints{
        border-top: 3px solid #dc001a;
        border-bottom: 3px solid #dc001a;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .sugarskull .focuspoints h3{
        font-size: 35px;
        margin-bottom: 2px;
        text-align: center;
    }

    /*Walking pink sektion*/
    .walkinpink{
        margin-bottom: 50px;
    }

    .walkinpink .page-title h1{
        font-size: 50px;
        margin: 60px 20px 0 25px;
    }

    .walkinpink .presentation img{
        width: 80%;
        margin-bottom: 80px;
    }

    .walkinpink .focuspoints{
        border-top: 3px solid #dc001a;
        border-bottom: 3px solid #dc001a;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .walkinpink .focuspoints h3{
        font-size: 35px;
        margin-bottom: 2px;
        text-align: center;
    }

    /*Den evige evighedsmaskine sektion*/
    .forever{
        margin-bottom: 50px;
    }

    .forever .page-title h1{
        font-size: 50px;
        margin: 0 20px 0 25px;
    }

    .forever .presentation img{
        width: 80%;
        margin-bottom: 80px;
    }

    .forever .focuspoints{
        border-top: 3px solid #dc001a;
        border-bottom: 3px solid #dc001a;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .forever .focuspoints h3{
        font-size: 35px;
        margin-bottom: 2px;
        text-align: center;
    }

    .forever .infoforever p{
        font-size: 22px;
        text-align: center;
        padding: 20px 0 20px 0;
    }

    /*Formidlingsvideo sektion sektion*/
    .formidling .page-title h1{
        font-size: 50px;
        margin: 60px 20px 0 25px;
    }

    .formidling .presentation img{
        width: 80%;
        margin-bottom: 80px;
    }

    .formidling .focuspoints{
        border-top: 3px solid #f7f7f7;
        border-bottom: 3px solid #f7f7f7;
        padding-top: 50px;
        padding-bottom: 50px;
        margin-bottom: 50px;
    }

    .formidling .focuspoints h3{
        font-size: 35px;
        margin-bottom: 2px;
        text-align: center;
    }
    /*SLUT - Medie queries til egne projekter siden*/

    /*Medie queries til kontakt mig siden*/
    .MyInfo .page-title h1{
        font-size: 40;
        padding: 0 20px 0 20px;
    }

    .MyInfo .oplysninger p{
        text-align: center;
        font-size: 25px;
        padding: 50px 0 50px 0;
    }

    .cv{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .cv .joberfaring p{
        padding: 0 40px 0 40px;
    }

    .cv h3{
        text-align: center;
        font-size: 32px;
        margin-top: 40px;
    }

    .cv p{
        text-align: center;
        padding-left: 0;
        font-size: 20px;
        line-height: 25px;
    }
    /*SLUT - Medie queries til kontakt mig siden*/

    /*Medie queries til de udvalgte projekters sider, heraf mana til rumrejsen*/
    .img-mobile{
        display: none;
    }
    
    .img-mobile-expand{
        display: flex;
        background-color: #1c1c1c;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .img-mobile-expand img{
        width: 80%;
        height: auto;
        display: block;
        margin: 30px auto 30px auto;
    }

    .about-info{
        padding: 70px 0 70px 0;
    }

    .about-info .focuspoints{
        text-align: center;
    }

    .about-info .about{
        text-align: center;
    }

    .about-info .about p{
        font-size: 17px;
        padding: 0 40px 0 40px;
    }

    .btn2{
        width: 150px;
        font-size: 20px;
    }
    /*SLUT - Medie queries til de udvalgte projekters sider, heraf mana til rumrejsen*/
}
/*SLUT - Medie queries til tablet*/

/*______________________________________________________________________________*/

/*Medie Queries min. 1024px til desktop*/
@media screen and (min-width:1024px){
    /*Medie Queries til CSS der går igennem alle siderne*/
    /*Header begynder her*/
    header{
        min-height: 29rem;
    }

    /*Logo*/
    .logo{
        width: 30%;
    }

    /*Streger til burger menu*/
    span{
        display: none;
    }

    .nav-desktop{
        display: flex;
    }

    .nav-desktop a{
        color: #f7f7f7;
        text-decoration: none;
        font-size: 20px;
        letter-spacing: 1px;
        font-weight: lighter;
        margin: 40px 10px 0 30px;
        cursor: pointer;
    }

    .nav-desktop a:hover{
        text-decoration: underline 2px #dc001a;
    }

    /*navne logoet med N M TOLNAI*/
    .name-logo img{
        width: 45%;
        margin-top: 80px;
    }
    /*SLUT - Header*/

    /*CSS til sidernes title*/
    .page-title{
        font-size: 35px;
        margin: 25px 20px 0 25px;
    }

    .grafic-img{
        width: 50%;
    }

    .grafic-img2{
        width: 70%;
        margin-top: 70px;
    }

    .selected-projects .btn{
        margin-top: 60px;
    }

    /*Knap design på siderne*/
    .btn{
        width: 140px;
        font-size: 15px;
        padding: 7px 0;
    }

    /*Footer*/
    footer{
        display: flex;
        justify-content: space-between;
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .logoer{
        display: block;
        margin: auto 0 auto 0 ;
    }
    
    .name{
        width: 55%;
    }
    
    .sphynx{
        width: 25%;
        margin-top: 20px;
    }

    .info h3{
        margin-top: 30px;
        font-size: 10px;
    }
    
    .info p{
        font-size: 15px;
    }
    /*SLUT - Footer*/
    /*SLUT - Medie Queries til CSS der går igennem alle siderne*/

    /*Medie Queries CSS til index-siden*/
    /*sektion med kompetencer og vision*/
    .visionskills{
        border-style: none solid none solid;
        border-color: #1c1c1c;
        border-width: 3px;
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin: 100px 90px 100px 90px;
        color: #1c1c1c;
    }

    .skills{
        margin-left: 40px;
        padding: 30px 0 30px 0;
    }

    .skills h2{
        font-size: 20px;
    }

    .skills h3{
        font-size: 28px;
    }

    .vision{
        margin: 0 40px 0 80px;
        padding: 30px 0 30px 0;
    }

    .vision h2{
        font-size: 20px;
    }

    .vision p{
        font-size: 15px;
        letter-spacing: 1px;
        line-height: 20px;
    }
    /*SLUT - Medie Queries CSS til index-siden*/

    /*Medie Queries CSS til udvalgte projekter-siden*/
    /*SLUT - Medie Queries CSS til udvalgte projekter-siden*/

    /*Medie Queries CSS til egne projekter-siden*/
    /*SLUT - Medie Queries CSS til egne projekter-siden*/

    /*Medie Queries CSS til kontakt mig-siden*/
    /*SLUT - Medie Queries CSS til kontakt mig-siden*/

    /*Medie Queries CSS til de forskellige projekters sider, heraf mana til rumrejsen*/
    /*SLUT - Medie Queries CSS til de forskellige projekters sider, heraf mana til rumrejsen*/
}
/*SLUT - Medie queries til desktop*/